<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="//code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<header th:replace="include/header"></header>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=59113c13fb94cdb62925a139a684253e&libraries=clusterer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body><br><br><br><br>
<div class="container">
<input type="hidden" id="page" value="week" th:value="${page}">
<input type="hidden" id="page2" value="month" th:value="${page2}">
<input type="hidden" id="page3" value="day" th:value="${page3}">
	<div>
		<div>
			<div class="search_button button">
				<button id="day" type="button" class="btn btn-primary">일간</button>
				<button id="week" type="button" class="btn btn-primary">주간</button>
				<button id="month" type="button" class="btn btn-primary">월간</button>
			</div>
			<br>
			<form action="/hotspot/hotspot_locate">
			<div>
				<input name="keyword" type="text" placeholder="검색할 내용">
				<button>검색하기</button>
			</div>
			</form>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div>
				<section>
				<form role="form" method="get">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>제목</th>
								<th>짧은글</th>
								<th>작성일자</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr class="godetail" th:each="Post:${postList}">
								<td th:id="${Post.p_num}" th:text="${Post.p_num}"></td>
								<td th:id="${Post.p_num}" th:text="${Post.P_title}"></td>
								<td th:id="${Post.p_num}"
									th:text="${#dates.format(Post.p_day, 'yyyy-MM-dd')}"></td>
								<td th:id="${Post.p_num}" th:text="${Post.p_recommend}"></td>
							</tr>
						</tbody>
					</table>
				</form>
				</section>
			</div>
		</div>
		
		<div class="col-sm-6">
		<div id="map" style="width: 400px; height: 500px;"></div>
		</div>
	</div>
</div>
<!--Footer-->
<div class="push" style="height:220px;"></div>
<footer class="footer"  th:replace="include/footer"></footer>
	<script>
		$('.search_button button').click(
				function() {
					$(location).attr(
							'href',
							'http://localhost:4007/hotspot/hotspot_main/'
									+ this.id);
				});
		$('.godetail td').click(
				function() {
					$(location).attr('href',
							'http://localhost:4007/gallery/detail/' + this.id);
				});
		$(document).ready(
				function() {
					$.ajax({
						url : "/hotspot/test/"+ $("#page").val() + $("#page2").val() ,
						type : "GET",
						cache : false,
						success : function(data) {
							for (var i = 0; i < data.length; i++) {
								var marker = new kakao.maps.Marker({
									map : map, // 마커를 표시할 지도
									position : new kakao.maps.LatLng(
											data[i].pic_latitude,
											data[i].pic_longitude)
								// 마커의 위치
								});
							}
							marker.setMap(map);
						}
					});
				});
		/* $(document).ready(function() {
		   $.ajax({
		         url : "/hotspot/test2",
		         type : "GET",
		         cache : false,
		         success : function(data) {
		            for(var i=0;i<data.length;i++){
		              
		            }
		            }
		         });
		      });    */
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(35.896285, 128.622003), // 지도의 중심좌표
			level : 13
		// 지도의 확대 레벨
		};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		// 마커가 표시될 위치입니다 
		var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667);
	</script>
</body>
</html>
